form {
    background: rgba(255,255,255,0.5);
    margin-top: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    margin-left: 25px;
    padding-left: 25px;
    margin-right:25px;
    padding-right: 25px;
    display: block;
    width: 50%;
    margin: 0 auto;
}

label {
    font-size: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}